<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
    <div class="daily-todo">
        <div class="button-row">
            <button mat-button (click)="day_before(date)">
                <span class="material-symbols-outlined">
                    arrow_back_ios
                </span>
            </button>
            <span>{{print_date}}</span>
            <button mat-button (click)="day_after(date)">
                <span class="material-symbols-outlined">
                    arrow_forward_ios
                </span>
            </button>
        </div>

        <mat-card class="card-list">
            <li *ngFor="let daily_todo of daily_todos" class="list">
                <mat-checkbox [(ngModel)]="daily_todo.done" (click)="updateStatus(daily_todo); progress()">
                    <span>{{daily_todo.task}}</span>
                </mat-checkbox>
                <div>
                    <mat-icon mat-icon-button (click)="openDialog(daily_todo)">edit</mat-icon>
                    <mat-icon mat-icon-button (click)="deleteDailyTodo(daily_todo)">clear</mat-icon>
                </div>
            </li>
            <mat-form-field appearance="fill">
                <mat-label>neue Aufgabe</mat-label>
                <input matInput #task>
            </mat-form-field>
            <button *ngIf="task" mat-icon-button (click)="addDailyTodo(task.value); task.value=''">
                <mat-icon>add</mat-icon>
            </button>
        </mat-card>       
        <div class="progress-spinner">
            <h1>Progress:</h1>
            <mat-progress-spinner
                class="example-margin"
                color="primary"
                [mode]="mode"
                [value]="progress()">
            </mat-progress-spinner>
        </div>
    </div> 