<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
    <div class="flex-container">
        <button mat-button>Gestern</button>
        <span>{{date_today()}}</span>
        <button mat-button>Morgen</button>

        <mat-card>
            <li *ngFor="let daily_todo of daily_todos">
                <mat-checkbox [(ngModel)]="checked" (click)="change_status(checked)"><span>{{daily_todo}}</span></mat-checkbox>
            </li>
            <mat-form-field appearance="fill">
                <mat-label>neue Aufgabe</mat-label>
                <input matInput [(ngModel)]="task">
            </mat-form-field>
            <button *ngIf="task" mat-icon-button (click)="addDailyTodo(task); task=''">
                <mat-icon>add_task</mat-icon>
            </button>
        </mat-card>

    </div> 