<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>

<div justify-content="flex-start">
    <button mat-button>Gestern</button>
    <span>{{date_today()}}</span>
    <button mat-button>Morgen</button>
    <mat-card>
        <li *ngFor="let todo of todos">
            <span>{{todo.task}}</span>
        </li>
        <mat-form-field appearance="fill">
            <input matInput type="text" id="new-task" placeholder="weitere Aufgaben..." #todoTask/>
            <button type="button" mat-button (click)="add(todoTask.value); todoTask.value=''">
                <span class="material-symbols-outlined">
                    add
                </span>
            </button>
        </mat-form-field>
    </mat-card>
</div>