.finances-main {
    display: flex;
    width: 100%;
    color: black;
    align-self: center;
    margin-top: 2%;
    margin-left: 10%;
    margin-bottom: 2%;
}
table {
    width: 35%;    
    text-align: left;
  }
.button-row {
    margin-top: 2%;
    text-align: center;
    font-size: 2em;
}
.total-costs{
    margin-left: 40%;
}