.example-list{
    margin: auto;
    display: table;
}

.example-button-row {
    display: table-cell;
}

.example-button {
    width: 300px;
    margin: 0 auto;
}

.container.is-phone {
    margin: 0;
    padding:0;
 }
