.example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }

.example-list{
    text-align: left;
    display: table;
    margin: 0 auto;
}

.example-button-row {
    display: table-cell;
}

.example-button {
    width: 490px
}