<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>

<div class="flex-container">
    <button mat-button>Letzte Woche</button>
    <span>{{this_week()}}</span>
    <button mat-button>Kommende Woche</button>

    <mat-card>
        <li *ngFor="let weekly_todo of weekly_todos">
            <mat-checkbox [(ngModel)]="checked" (click)="change_status(checked)"><span>{{weekly_todo}}</span></mat-checkbox>
        </li>
        <mat-form-field appearance="fill">
            <mat-label>neue Aufgabe</mat-label>
            <input matInput [(ngModel)]="task">
        </mat-form-field>
            <mat-label>Done by</mat-label>
            <mat-select  [(ngModel)]="selectedValue" name="day">
                <mat-option *ngFor="let day of days" [value]="day.value">
                    {{day.viewValue}}
                </mat-option>
            </mat-select>
        <button *ngIf="task && selectedValue" mat-icon-button (click)="addWeeklyTodo(task, selectedValue); task=''; selectedValue=''">
            <mat-icon>add_task</mat-icon>
        </button>
    </mat-card>
</div> 